.top-heading{
    position: relative;
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    background-color: rgb(171, 204, 53);
    }
    .user-img{
      position: relative;
      height: 100%;
  
    }
    .addConIcon{
      position: relative;
      height: 100%;
    }
  
    .headingRight {
        position: relative;
        padding: 1.3%;
        margin: 0;
        width: 100%;
        background-color: rgba(238, 238, 238, 0.699);
        align-items: center;
        border-radius: 0px 25px 0px 0px;

    }
    
    .heading-avatar {
        position: relative;
      padding: 0;
      cursor: pointer;
    
    }
    
    .heading-avatar-icon{
        position: relative;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
    .avatar {
      vertical-align: middle;
      position: relative;
      border-radius: 50%;
      height: 100%;
    }
    .heading-compose {
        position: relative;
      padding: 0;
    }
    .heading-online {
        display: block;
        font-size: 12px;
        color: #23770e;
      }
    .headingUsername {
      padding: 0 !important;
      font-size: large;
      cursor: pointer;
    }
    
      .reply {
         position: absolute;
         object-position: center bottom;
         bottom: 1%;
         border:none !important;
         background-color: #f5f1ee;
         width: 92%;
         margin-left: 4%;
         margin-right: 2%;
         padding: 10px;
         border-radius: 20px ;
         box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
      }
      .reply-paperclip {
        padding: 5px 5px 5px 5px !important;
        background: none;
        border: none;
      }
      
      .reply-paperclip i {
        text-align: center;
        padding: 5px 5px 5px 5px !important;
        color: #0f0f0e;
        cursor: pointer;
        size: 20px;;
    
      }
      .reply-send {
        padding: 5px !important;
      }
      .reply-send i {
        text-align: center;
        padding: 5px !important;
        color: #93918f;
        cursor: pointer;
      }
      .hiddenbtn{
        border: none;
        background: none;
         align-content: center;
         width: 100%;
         position: relative;
        }
        .hiddenbtn:hover{
          background-color: rgb(201, 195, 195);
          vertical-align: middle;
          border-radius: 50%;
          height: 100%;
          
        }
    
      
      .textarea {
        position: relative;
        object-fit:fill;
        bottom: 1%;
        top: 1%;
        padding: 5px !important;
        text-indent: 5px;
        font-size: 16px;
      }
      
        
      
      .dropdown-menu{
        position: relative;
       padding-bottom: 40%;
        background-color: rgba(0, 255, 255, 0);
      border: none;
      }
      
      .btnS{
        position: relative;
        padding: 14px;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 30%;
        border: none;
        background-color: #8a8682c4;
      }
      .btnS:hover{
        background-color: rgb(201, 195, 195);
      }
      .mesCon{
        border-radius: 0px;
        background: none;
        border: none;
      }
      .messagesArea{
        overflow-y: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      
      margin-bottom: 100%;
      }

       .message {
         margin: 0 !important;
         width: auto;
         height: auto;
         padding-top: 1%;
         padding-left: 0.5%;
         position: relative;
         
       }
       .mes-content{
         width: 30%;
         background-color: #8cd476be;
         border-radius: 20px 20px 25px 0px  ;
       }
       .mes-text{
         padding: 5%;
       }
       .Outmessage{
         margin: 0 !important;
         padding-top: 8%;
         padding-right: 10%;
         
       }
       .Outmes-content{
         width: 30%;
         background-color: #ebeae4d7;
         border-radius: 20px 20px 0px 25px  ;
         
       }